<%- include('./common/_head') %>

        <%- include('./common/_header') %>

        <main class="main">
            <section>
                <%- include('./common/_page_title') %>
                <ul class="section_area">
                    <%- include('./section/_parts') %>
                    <%- include('./section/_parts') %>
                    <%- include('./section/_parts') %>
                    <%- include('./section/_parts') %>
                </ul>
            </section>
        </main>

<%- include('./common/_script') %>